@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
  font-family: "Roboto";
  font-weight: 400;
  --gray: rgb(187, 202, 206);
  --red:rgb(255,15,15);
  --yellow:rgb(255, 233, 9);

}
button{
  border: none;
  outline: none;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1025px;
  margin: 0 auto;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
